* {
    margin: 0;
    padding: 0;
}

.container {
    width: 306px;
    margin: 200px auto;
    min-height: 302px;
    text-align: center;

}

.field {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
}

.content {
    font-size: 40px;
}

#newGameButton {
    display: none;
    font-size: 40px;
    border: 1px solid black;
    cursor: pointer;
}
#newGameButton:hover {
    color: deepskyblue;
    background-color: azure;
}